<div style="text-align:center">
    <p>
        <button mat-raised-button>
            <fa-icon [icon]="iconUp"></fa-icon>
        </button>
    </p>
    <p>
        <button mat-raised-button>
            <fa-icon [icon]="iconLeft"></fa-icon>
        </button>
        <button mat-raised-button>
            <fa-icon [icon]="iconRight"></fa-icon>
        </button>
    </p>
    <p>
        <button mat-raised-button>
            <fa-icon [icon]="iconDown"></fa-icon>
        </button>
    </p>
</div>
